{% extends "base.html" %}
{% block title %}
<title>JM - SAP</title>
<meta name="keywords" content="WebSite Template" />
<meta name="description" content="Porto - Multipurpose Website Template">
<meta name="author" content="okler.net">

{% endblock %}



{% block content %}
{% load static %}
<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/paginaWebApp/img/page-header/us.jpeg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">Aspel</h1>
                    <span class="sub-title">La mejor opción para las pequeñas empresas</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-3 pb-2">

        <div class="row pt-2">

            <div class="col">
                <p class="lead">Los sistemas Aspel son un conjunto de sistemas enfocados en la administración de diferentes áreas de las empresas. Aspel es la mejor opción para para los pequeños empresarios. Descubre porqué aquí.</p>
                <section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-10 py-3 mx-md-auto">
                                <div class="row pt-2 clearfix">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-user-following icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Experiencia</h4>
                                                <p class="mb-4 text-color-light opacity-6">Aspel cuenta con más de 40 años de experiencia.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-layers icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Confiabilidad</h4>
                                                <p class="mb-4 text-color-light opacity-6">1.2 millones de clientes confian en la marca.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-calculator icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Asequibles</h4>
                                                <p class="mb-4 text-color-light opacity-6">El mejor precio-beneficio del mercado.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-star icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Modularidad</h4>
                                                <p class="mb-4 text-color-light opacity-6">Los sistemas Aspel se distribuyen por módulos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <br>

                <p> A diferencia de un ERP convencional, por practicidad los sistemas Aspel se distribuyen en diferentes soluciones modulares. </p>
                <p>Sin embargo, estos sistemas están diseñados para poderse comunicar uno con el otro de tal forma que el usuario tenga una experiencia transparente y unificada. </p>
                <p>Esta forma de comercialización te permitirá contratar únicamente la solución que necesites e incoporar más soluciones a medida que lo requieras.</p>
                <p>Aspel cuenta con 7 sistemas distintos enfocados a diferentes áreas de las empresas:</p>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="tabs tabs-vertical tabs-left tabs-navigation">
                            <ul class="nav nav-tabs col-sm-3">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tabsNavigation1" data-bs-toggle="tab"><i class="fa-solid fa-money-bill"></i>COMERCIAL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation2" data-bs-toggle="tab"><i class="fas fa-file"></i> CONTABILIDAD</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation3" data-bs-toggle="tab"><i class="fas fa-users"></i>NÓMINA</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation4" data-bs-toggle="tab"><i class="fa-solid fa-industry"></i> PRODUCCIÓN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation5" data-bs-toggle="tab"><i class="fa-solid fa-cash-register"></i> PUNTOS DE VENTA</a>
                                   
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation6" data-bs-toggle="tab"><i class="fa-solid fa-building-columns"></i> TESORERÍA</a>
                                   
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabsNavigation7" data-bs-toggle="tab"><i class="fa-solid fa-file-invoice"></i> FACTURACIÓN</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-pane tab-pane-navigation active" id="tabsNavigation1">
                            <h4>ASPEL SAE</h4>
                            <p>Es un programa fabricado por Aspel para gestionar los ciclos comerciales de tu empresa.</p>
                            <img class="float-end" width="200" src="img/device.png" alt="">
                            <p>En SAE existen dos módulos importantes: ventas y compras. En el módulo de ventas podrás usar los diferentes documentos que mejor se adapten al giro de tu negocio como: Cotizaciones, Ordenes de Pedidos, Remisiones, Notas de Venta y Facturas. En el módulo de compras encontrarás Requisiciones, Órdenes de Compra, Recepciones y Registro de Compras-Facturas. Podrás administrar tus clientes y proveedores a través de sus parametrizaciones como: días de crédito, contactos, cuentas por pagar, cuentas por cobrar, etc.</p>
                            <p>Agrega valor a tu empresa con el eficiente control de tu inventario y la definición de stocks mínimos y máximos. Complementa tu control mediante el análisis de la información con sus reportes y estadísticas que te ayudarán a tomar las mejores decisiones.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation2">
                            <h4>ASPEL COI</h4>
                            <p>Aspel COI es un programa creado para administrar la contabilidad de tu empresa de forma electrónica. Cuenta con herramientas que ayudan a mantener saludables las finanzas de tu empresa y automatizar el registro contable.</p>
                            <p>Aspel COI concentra tus pólizas contables y genera tus estados financieros de forma sencilla. Permite la interconexión con los sistemas SAE (área comercial) y NOI (área de nómina) lo que facilita enormemente la generación de las pólizas de ventas, compras, nóminas, entre otras.</p>
                            <p>COI permite contabilizar por proyectos y centros de costos, asociar comprobantes digitales a los registros contables y más. Con COI, toma las decisiones que tu empresa necesita con ayuda de los estados financieros actualizados en tiempo real, de acceso fácil y directo.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation3">
                            <h4>ASPEL NOI</h4>
                            <p>El sistema Aspel NOI es un programa orientado a sistematizar y automatizar los procesos relacionados a la nómina de tu empresa.</p>
                            <img class="float-start" width="200" src="img/device.png" alt="">
                            <p>NOI registra y automatiza el cálculo de percepciones y deducciones de tus colaboradores. En el camino, NOI llevará un registro efectivo de la retención de impuestos y aportaciones de seguridad social. </p>
                            <p>Podrás registrar incidencias (como faltas), controlar finiquitos y liquidaciones, configurar bases gravables, programar movimientos y emitir recibos de nómina electrónicos.</p>
                            <p>NOI facilita el pago de tu nómina a través de sus herramientas de dispersión. A través de NOI podrás controlar diversos documentos personalizados como cartas, contratos y constancias laborales.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation4">
                            <h4>ASPEL PROD</h4>
                            <p>Aspel PROD es un programa realizado para controlar la fabricación de producto terminado dentro de tu empresa.</p>
                            <p>El sistema PROD controla la fabricación de productos a partir de la creación de hojas de costos. A partir de este punto, el sistema te permite controlar la materia prima necesaria para fabricar, generar ordenes de producción e identificar el proceso en qué se encuentran los productos, registrar los insumos reales utilizados para fabricar, entre otros. Esto te permitirá tener control de los costos de fabricación, Scrap, entradas y salidas de materiales, entre otros.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation5">
                            <h4>ASPEL CAJA</h4>
                            <p>Aspel CAJA es un sistema de punto de venta. CAJA se enfoca en concentrar las herramientas básicas para registrar tus ventas y controlar tus inventarios. </p>
                            <p>Con CAJA podrás realizar de forma integral y confiable las actividades de mostrador con el mínimo esfuerzo y la máxima precisión.  Posee las herramientas básicas para registrar una venta, establecer políticas de precios, controlar clientes y proveedores, y administrar tu inventario. </p>
                            <p>A diferencia de ASPEL-SAE, CAJA no posee herramientas especializadas para el manejo de clientes, proveedores y venta en línea.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation6">
                            <h4>ASPEL BANCO</h4>
                            <p>Es un sistema de administración de cuentas bancarias para la tesorería de tu empresa. </p>
                            <p>BANCO es una herramienta útil para llevar un control de los movimientos bancarios dentro de tu empresa. Al registrar los ingresos y egresos bancarios podrás indicar montos, impuestos, beneficiarios, conceptos, entre otros. Esta información se enlaza con ASPEL-COI para generar tus pólizas de ingreso y egreso de contabilidad con un solo clic.</p>
                            <p>A la par, BANCO, mediante su interfaz con ASPEL-SAE, te permitirá llevar un claro control de tus clientes y proveedores.De esta manera podrás determinar fácilmente impuestos a pagar, los conceptos más importantes en tus gastos, las cuentas por cobrar que tiene tu empresa y mucho más.</p>
                            <p>Además, BANCO te ayudará en la conciliación de cuentas bancarias, manejo de movimientos en tránsito, control de cheques emitidos y planeación de cobros y pagos.</p>
                        </div>
                        <div class="tab-pane tab-pane-navigation" id="tabsNavigation7">
                            <h4>ASPEL FACTURE</h4>
                            <p>Aspel FACTURE es un sistema de facturación inteligente, la herramienta que te ayudará a generar facturas, notas de crédito, recibos de honorarios y de arrendamiento y Comprobantes Fiscales Digitales por Internet (CFDI) 4.0.</p> sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    

</div>

{% endblock %}