{% extends "base.html" %}
{% block title %}
<title>JM - Nosotros</title>
<meta name="keywords" content="WebSite Template" />
<meta name="description" content="Porto - Multipurpose Website Template">
<meta name="author" content="okler.net">

{% endblock %}



{% block content %}
{% load static %}
<div role="main" class="main">
    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/paginaWebApp/img/page-header/us.jpeg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">¿Quiénes somos?</h1>
                    <span class="sub-title">Tu pefecta elección para implementar y administrar tu ERP</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row pt-5">
            <div class="col">

                <div class="row text-center pb-5">
                    <div class="col-md-9 mx-md-auto">
                        <div class="overflow-hidden mb-3">
                            <h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
                                <span>Somos J&M, tu aliado para </span>
                                <span class="word-rotator-words bg-primary">
                                    <b class="is-visible">asesoramiento</b>
                                    <b>implementación</b>
                                    <b>capacitación</b>
                                    <b>soporte</b>
                                </span>
                                <span> de ERP's.</span>
                            </h1>
                        </div>
                        <div class="overflow-hidden mb-3">
                            <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
                                El aliado clave para el control de micros, pequeñas y medianas empresas.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-5">
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800">
                        <h3 class="font-weight-bold text-4 mb-2">Nuestra misión</h3>
                        <p>Implementar soluciones de control de recursos empresariales que faciliten las operaciones de nuestros clientes.</p>
                    </div>
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                        <h3 class="font-weight-bold text-4 mb-2">Nuestra visión</h3>
                        <p>Ser el líder #1 en asesoría, implementación y capacitación de ERP's en latinoamérica.</p>
                    </div>
                    <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
                        <h3 class="font-weight-bold text-4 mb-2">¿Por qué nosotros?</h3>
                        <p>Somos una empresa que entiende la importancia de la atención ágil. Nuestro objetivo.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <section class="section section-primary border-0 mb-0 appear-animation" data-appear-animation="fadeIn" data-plugin-options="{'accY': -150}">
        <div class="container">
            <div class="row counters counters-sm pb-4 pt-3">
                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="counter">
                        <i class="fa-regular fa-face-smile fa-sm" style="color: #ffffff;"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="500" data-append="+">0</strong>
                        <label class="text-4 mt-1 text-color-light">Clientes felices</label>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="counter">
                        <i class="icons icon-badge text-color-light"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="16">0</strong>
                        <label class="text-4 mt-1 text-color-light">Años de experiencia</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                    <div class="counter">
                        <i class="fa-regular fa-thumbs-up fa-sm" style="color: #ffffff;"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="100" data-append="+">0</strong>
                        <label class="text-4 mt-1 text-color-light">Implementaciones exitosas</label>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="counter">
                        <i class="fa-regular fa-square-check fa-sm" style="color: #ffffff;"></i>
                        <strong class="text-color-light font-weight-extra-bold" data-to="10000" data-append="+">0</strong>
                        <label class="text-4 mt-1 text-color-light">Tickets resueltos</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-height-3 bg-color-grey-scale-1 m-0 border-0">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 pb-sm-4 pb-lg-0 pe-lg-5 mb-sm-5 mb-lg-0">
                    <h2 class="text-color-dark font-weight-normal text-6 mb-2">Lo que <strong class="font-weight-extra-bold">somos</strong></h2>
                    <p class="lead">Somos una empresa de Querétaro con más de 15 años de experiencia en la asesoría, implementación y soporte de sistemas de planificación de recursos empresariales (ERP) para PYME's </p>
                    <p class="pe-5 me-5">Nos enfocamos en atender las necesidades de software para administrar empresas medianas (mediante soluciones SAP), empresas pequeñas (mediante soluciones Aspel) y micro-empresas (mediante soluciones Siigo).</p>
                </div>
                <div class="col-sm-8 col-md-6 col-lg-4 offset-sm-4 offset-md-4 offset-lg-2 position-relative mt-sm-5" style="top: 1.7rem;">
                    <img src="{% static 'paginaWebApp/img/generic/phone.jpg' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300" style="top: 10%; left: -50%;" alt="" />
                    <img src="{% static 'paginaWebApp/img/generic/about-us-guy.jpg' %}" class="img-fluid position-absolute d-none d-sm-block appear-animation" data-appear-animation="expandIn" style="top: -33%; left: -29%;" alt="" />
                    <img src="{% static 'paginaWebApp/img/generic/about-us-greet.jpg' %}" class="img-fluid position-relative appear-animation mb-2" data-appear-animation="expandIn" data-appear-animation-delay="600" alt="" />
                </div>
            </div>
        </div>
    </section>

    <div class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
        <div class="row pt-5 pb-4 my-5">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-start">
                <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="{% static 'paginaWebApp/img/team/sonia.jpeg' %}" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Sonia Román Flores</h3>
                        <p class="text-2 mb-0">CEO</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="{% static 'paginaWebApp/img/team/isaias.jpeg' %}" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Isaías Martínez Martínez</h3>
                        <p class="text-2 mb-0">Líder de soporte</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="{% static 'paginaWebApp/img/team/daniel.jpeg' %}" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Daniel Ayala Román</h3>
                        <p class="text-2 mb-0">Proyectos estratégicos</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="{% static 'paginaWebApp/img/team/oscar.jpeg' %}" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Oscar Cruz Cervantes</h3>
                        <p class="text-2 mb-0">Soporte</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="{% static 'paginaWebApp/img/team/ramon.jpeg' %}" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">Ramon García Santos</h3>
                        <p class="text-2 mb-0">Ventas</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center text-md-start mb-5 mb-md-0">
                <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">Conoce a <strong class="font-weight-extra-bold">nuestro equipo</strong></h2>
                <p class="lead">Un equipo multidisciplinario.</p>
                <p class="mb-4">Nos enfocamos en entender las necesidades reales de nuestros clientes y descargar sus dolores.</p>
            </div>
        </div>
    </div>

    <section class="section bg-color-grey-scale-1 section-height-3 border-0 m-0">
        <div class="container pb-2">
            <div class="row">
                <div class="col-lg-6 text-center text-md-start mb-5 mb-lg-0">
                    <h2 class="text-color-dark font-weight-normal text-6 mb-2">Nos enfocamos en <strong class="font-weight-extra-bold">nuestros clientes</strong></h2>
                    <p class="lead">Ponemos las necesidades de nuestros clientes en el epicentro de nuestras estrategías</p>
        
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme nav-style-1 stage-margin" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': true, 'nav': false, 'dots': false, 'stagePadding': 40, 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
                                <div class="testimonial-author">
                                    <img src="{% static 'paginaWebApp/img/clients/grupoAzero.png' %}" class="img-fluid rounded-circle mb-0" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-4 line-height-5 mb-0"> Les recomendaríamos por la atención personalizada y constante. Siempre hay alguien que ofrece soluciones y la respuesta es inmediata en todos los casos. Siempre son cercanos y atentos con todo el personal...</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">José Prado</strong><span> CEO Ferreteras Prado</span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
                                <div class="testimonial-author">
                                    <img src="{% static 'paginaWebApp/img/clients/calorycontrol.jpeg' %}" class="img-fluid rounded-circle mb-0" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-4 line-height-5 mb-0">Agradezco su disponibilidad para ayudar, productividad para sumarse a nuestros esfuerzos de mejora, paciencia y sobre todo, el ser un equipo de profesionales en los que podemos confiar.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">Nora Casillas</strong><span>CEO Calor y Control</span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
                                <div class="testimonial-author">
                                    <img src="{% static 'paginaWebApp/img/clients/sedena.png' %}" class="img-fluid rounded-circle mb-0" alt="">
                                </div>
                                <blockquote>
                                    <p class="text-color-dark text-4 line-height-5 mb-0">Los recomendariamos por la eficacia y eficiencia de los equipos y la atención a cliente...</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong class="font-weight-extra-bold text-2">Hermelinda José Ramírez</strong><span>Contaduría Secretaria de la Defensa Nacional</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}
