{% extends "base.html" %}
{% block title %}
<title>JM - Productos y Servicios</title>
<meta name="keywords" content="WebSite Template" />
<meta name="description" content="Porto - Multipurpose Website Template">
<meta name="author" content="okler.net">

{% endblock %}

{% block content %}
{% load static %}
<div role="main" class="main">
	<section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/paginaWebApp/img/page-header/erp.jpg);">
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="text-10">Nuestros <strong>Productos y Servicios</strong></h1>
					<span class="sub-title">Estamos aquí para ayudarte</span>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-5">
		<div class="row">
			<div class="col-lg-10">
				<div class="overflow-hidden">
					<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
						En J&M nos especializamos en el uso de las tecnologías <span class="alternative-font">ERP’s líderes</span> en México para las micro, pequeñas y medianas empresas. Nuestra oferta de servicios cubre desde la selección hasta el aprovechamiento de la información almacenada en tu ERP para la toma de decisiones.
					</p>
				</div>
			</div>
			<div class="col-lg-2 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
				<a href="{% url 'contacto' %}" class="btn btn-modern btn-dark mt-1">Contactanos</a>
			</div>
		</div>

		<div class="row">
			<div class="col py-3">
				<hr class="solid mt-5 mb-2">
			</div>
		</div>

		<div class="row">
			<div class="featured-boxes featured-boxes-style-2">
				<div class="row">
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-magnifier icons text-color-primary bg-color-grey"></i>
								<h4 class="font-weight-bold">Asesoramiento</h4>
								<p class="px-3">Asesoría en la selección del mejor ERP para tu empresa, servidor en donde se alojará, número de licencias necesarias, entre otros.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="900">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-layers icons text-color-light bg-color-primary"></i>
								<h4 class="font-weight-bold">Implementación</h4>
								<p class="px-3">Parametrizamos tu ERP para que funcione de acuerdo con tus necesidades. Recopilamos e importamos las bases de datos para que utilices tus sistemas.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-graduation icons text-color-primary bg-color-grey"></i>
								<h4 class="font-weight-bold">Capacitación</h4>
								<p class="px-3">Capacitamos a tu personal para el uso de tu sistema ERP. Reducimos tiempos y costos al orientar las capacitaciones conforme a las funciones que desempeñen.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1500">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-earphones-alt icons text-color-light bg-color-primary"></i>
								<h4 class="font-weight-bold">Soporte</h4>
								<p class="px-3">Servicios de soporte para atender dudas e incidencias en los sistemas ERP's.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-pie-chart icons text-color-primary bg-color-grey"></i>
								<h4 class="font-weight-bold">Análisis de datos</h4>
								<p class="px-3">Creamos los reportes que necesitas para la toma de decisiones con información conectada a tu ERP.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1300">
						<div class="featured-box featured-box-effect-4">
							<div class="box-content">
								<i class="icon-featured icon-frame icons text-color-light bg-color-primary"></i>
								<h4 class="font-weight-bold">Desarrollos</h4>
								<p class="px-3">Desarrollamos complementos para cubrir los GAPs de tu ERP.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="container-fluid bg-primary py-5">
		<div class="row pt-5">
			<div class="col-12 text-center py-5">
				<h2 class="font-weight-bold text-15 ws-nowrap text-color-light mb-0" >
					¡Trabajamos con los mejores!
				</h2>
			</div>
		</div>
		<div class="row pb-5">
			<div class="col-12 text-center py-5">
				<h2 class="font-weight-bold text-15 ws-nowrap text-color-light mb-0">
					Conoce las marcas con las que colaboramos.
				</h2>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'paginaWebApp/img/generic/sap_servicios.jpg' %}" style="min-height: 315px;">
				</section>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="{% url 'sap' %}" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">SAP</a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">La solución más completa para las PYME’s.</p>
							</div>
							<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Construido a través de las mejores prácticas del desarrollo. Respaldado por la empresa más importante de ERP’s a nivel mundial. Incluye los módulos más importantes para todas las PYME’s, se adapta a los procesos específicos de tu industria, incorpora analítica de datos y mucho más.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Microsoft-Azure</a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Servidores en la nube Azure.</p>
							</div>
							<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Los servidores Azure de Microsoft nos permiten alojar sistemas ERP’s en la nube con hasta un 99.9% de disponibilidad. Permiten escalabilidad en las características de los servidores y ofrecen las ventajas fiscales de cualquier Infraestructura Como Servicio.</p>
						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'paginaWebApp/img/generic/azure_services.jpg' %}" style="min-height: 315px;">
				</section>
			</div>
		</div>
		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 p-0">
				<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'paginaWebApp/img/generic/aspel_services.jpeg' %}" style="min-height: 315px;">
				</section>
			</div>
			<div class="col-lg-6 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row m-0">
						<div class="col-half-section col-half-section-left">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="{% url 'aspel' %}" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Aspel</a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">La solución ideal para las pequeñas empresas.</p>
							</div>

							<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400"> Conjunto de sistemas administrativos ideales para las pequeñas empresas. Incluye soluciones para administrar procesos comerciales, contables, de nómina, de producción, de puntos de venta, entre otras soluciones.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="row align-items-center bg-color-grey">
			<div class="col-lg-6 order-2 order-lg-1 p-0">
				<section class="section section-no-border h-100 m-0">
					<div class="row justify-content-end m-0">
						<div class="col-half-section col-half-section-right custom-text-align-right">
							<div class="overflow-hidden">
								<h4 class="mb-0 appear-animation" data-appear-animation="maskUp"><a href="{% url 'siigo' %}" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Siigo</a></h4>
							</div>
							<div class="overflow-hidden mb-2">
								<p class="mb-0 lead text-4 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Soluciones para las microempresas.</p>
							</div>
							<p class="text-2 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Ten un control de tus operaciones comerciales y contables con un único sistema descansado en la nube. Incluye los módulos básicos para un microempresario a un precio competitivo.</p>
						</div>
					</div>
				</section>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 p-0">
				<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="{% static 'paginaWebApp/img/generic/siigo_services.jpeg' %}" style="min-height: 315px;">
				</section>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col py-3">
			<hr class="solid mt-5 mb-2">
		</div>
	</div>

</div>

{% endblock %}