{% extends "base.html" %}
{% block title %}
<title>JM - SAP</title>
<meta name="keywords" content="WebSite Template" />
<meta name="description" content="Porto - Multipurpose Website Template">
<meta name="author" content="okler.net">

{% endblock %}



{% block content %}
{% load static %}
<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/paginaWebApp/img/page-header/sapHeader.jpeg);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">SAP</h1>
                    <span class="sub-title">El software más completo para las PYME's</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-3 pb-2">

        <div class="row pt-2">

            <div class="col">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3OMMueYiumE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <br>
                <p class="lead">SAP Business One es el ERP de SAP diseñado para las pequeñas y medianas empresas. Sin lugar a duda es la opción más completa en el mercado para este sector. Lo anterior gracias a 6 características principales:</p>
                <section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-10 py-3 mx-md-auto">
                                <div class="row pt-2 clearfix">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-user-following icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Asequible</h4>
                                                <p class="mb-4 text-color-light opacity-6">Precio competitivo.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-layers icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Comprensible</h4>
                                                <p class="mb-4 text-color-light opacity-6">Todas las necesidades resueltas en una sola plataforma.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-calculator icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Sencillo</h4>
                                                <p class="mb-4 text-color-light opacity-6">Fácil y rápido de implementar.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-star icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Poderoso</h4>
                                                <p class="mb-4 text-color-light opacity-6">Suficientemente potente para ayudar a tu empresa a crecer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                                            <div class="feature-box-icon">
                                                <i class="icon-drop icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Personalizable</h4>
                                                <p class="mb-0 text-color-light opacity-6">Adaptable a diferentes prácticas industriales.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                            <div class="feature-box-icon">
                                                <i class="icon-mouse icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Confiable</h4>
                                                <p class="mb-0 text-color-light opacity-6">Más de 75,000 clientes utilizan SAP business One.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <br>

                <p>SAP Business One facilita el flujo de los procesos y el conocimiento de tu negocio para que tu puedas actuar rápidamente y tomar decisiones basadas en tiempo real. Esto se traduce en aumento de las ganancias de tu empresa.</p>
                <p>SAP Business One entiende que las empresas en crecimiento como la tuya tienen grandes sueños y objetivos. SAP business One está diseñado para crecer junto contigo. Esto te permite personalizar tu SAP Business One a tus necesidades crecientes: desde nuevas herramientas hasta nuevos idiomas. Todo esto con una interfaz simple de usar.</p>
                <p>SAP Business One está diseñado para cubrir todas las necesidades de tu pequeña y mediana empresa. Con Business One obtienes soluciones robustas en:</p>

                <div class="row">
                    <div class="toggle toggle-primary toggle-lg" data-plugin-toggle>
                        <section class="toggle">
                            <a class="toggle-title">Administración financiera</a>
                            <div class="toggle-content">
                                <p>SAP Business One proporciona un conjunto completo de herramientas para ayudarle a gestionar y optimizar sus operaciones financieras. Automatiza las tareas contables cotidianas, como mantener los asientos del libro mayor y del diario, respaldar los cálculos de impuestos y permitir transacciones en múltiples monedas.</p>
                                <p>Puede realizar todas sus actividades bancarias, incluido el procesamiento de estados y pagos bancarios, así como la conciliación de cuentas. También puede administrar el flujo de caja, realizar un seguimiento de los presupuestos y comparar los datos reales con los planes para ver dónde se encuentra su negocio en cualquier momento.</p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Contabilidad:</b> maneje automáticamente todos los procesos contables clave, como asientos de diario, cuentas por cobrar y cuentas por pagar.</li>
                                        <li><b>Control:</b> administre con precisión el flujo de caja, realice un seguimiento de los activos fijos, controle los presupuestos y supervise los costos del proyecto.</li>
                                        <li><b>Simplificado:</b> gestión de activos fijos. La función de activos fijos virtuales le libera de la entrada de datos manuales repetitivos.</li>
                                        <li><b>Banca y conciliación:</b> procese rápidamente conciliaciones, estados bancarios y pagos mediante diversos métodos, incluidos cheques, efectivo y transferencias bancarias.</li>
                                        <li><b>Informes y análisis financieros:</b> cree informes estándar o personalizados a partir de datos en tiempo real para planificación empresarial y revisiones de auditoría.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Ventas y manejo de clientes</a>
                            <div class="toggle-content">
                                <p>Adquirir nuevos clientes es importante para el éxito, pero maximizar las relaciones con los clientes es igualmente crucial. SAP Business One proporciona las herramientas para ayudarle a gestionar de manera eficiente todo el proceso de ventas y el ciclo de vida del cliente, desde el contacto inicial hasta la venta final, pasando por el servicio y soporte posventa.</p>
                                <p>Su funcionalidad integrada proporciona una vista completa de los prospectos y clientes para que pueda comprender y satisfacer mejor sus necesidades. Como resultado, puede convertir clientes potenciales en clientes, aumentar las ventas y la rentabilidad y mejorar la satisfacción del cliente.</p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Gestión de ventas y oportunidades:</b> realice un seguimiento de las oportunidades y actividades desde el primer contacto hasta el cierre del trato.</li>
                                        <li><b>Gestión de campañas de marketing:</b> cree, gestione y analice actividades de marketing.</li>
                                        <li><b>Gestión de clientes:</b> almacene todos los datos críticos de los clientes en un solo lugar, sincronice y administre los contactos de los clientes almacenados en Microsoft Outlook.</li>
                                        <li><b>Gestión de servicios:</b> administre contratos de servicio y garantía de manera eficiente, ingrese y responda llamadas de servicio rápidamente.</li>
                                        <li><b>Informes y análisis:</b> cree informes detallados sobre todos los aspectos del proceso de ventas, incluida la previsión de ventas y el seguimiento de los procesos, utilizando plantillas que le permitirán ahorrar tiempo.</li>
                                        <li><b>Movilice a su equipo de ventas:</b> administre su información de ventas mientras viaja con la aplicación móvil SAP Business One Sales.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Compras y control de inventario</a>
                            <div class="toggle-content">
                                <p>Toda pequeña empresa necesita un enfoque sistemático para gestionar el proceso de adquisiciones, desde solicitar cotizaciones de proveedores hasta crear solicitudes de compra y pagar a los proveedores.</p>
                                <p>SAP Business One ayuda a gestionar el ciclo completo desde el pedido hasta el pago, incluidos recibos, facturas, devoluciones y pagos. Las herramientas de informes integradas le permiten comparar fácilmente proveedores y precios para negociar mejores acuerdos e identificar oportunidades de ahorro de costos.</p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Adquisiciones:</b> cree solicitudes de compra, órdenes de compra y recibos de mercancías; vincular documentos de compra y ver rastros de documentos para fines de auditoría; y gestionar devoluciones, gastos adicionales y múltiples monedas.</li>
                                        <li><b>Gestión de datos maestros: </b>administre datos detallados en una interfaz fácil de usar, vea el saldo de la cuenta y los análisis de compras, y mantenga información detallada de compras de artículos con listas de precios e información fiscal. </li>
                                        <li><b>Integración de almacén y contabilidad: </b>logre la sincronización en tiempo real de las entradas de mercancías y los niveles de almacén de inventario.</li>
                                        <li>Procesar cuentas por pagar, facturas, cancelaciones y notas de crédito con referencia de orden de compra; planificar sus necesidades materiales; y programa tus compras en consecuencia.</li>
                                        <li><b>Informes más sencillos y actualizados: </b>genere informes con datos en tiempo real y muéstrelos en varios formatos de informes o paneles.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Planeación de la producción</a>
                            <div class="toggle-content">
                                <p>SAP Business One proporciona información precisa sobre envíos entrantes y salientes, inventario y ubicación de artículos. Puede valorar el inventario utilizando el costeo estándar, el promedio, PEPS y otros métodos; monitorear los niveles de existencias; y realizar un seguimiento de las transferencias en tiempo real. </p>
                                <p>Puede ejecutar actualizaciones de inventario en tiempo real y verificar disponibilidades y administrar precios estándar y especiales. También puede aplicar descuentos por volumen, efectivo y para clientes específicos. Además, puede ejecutar informes que revelen su impacto.</p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Gestión de almacenes e inventario: </b>administre el inventario utilizando varios modelos de costos, mantenga datos maestros de artículos y use múltiples unidades de medida y precios. </li>
                                        <li><b>Gestión de ubicación de contenedores: </b>administre el stock en múltiples almacenes, dividiendo cada uno en múltiples subzonas, configure reglas de asignación, optimice el movimiento de stock y reduzca los tiempos de recolección.</li>
                                        <li><b>Control de recepción y emisión de mercancías: </b>registre las entradas y salidas de mercancías; realizar un seguimiento de las ubicaciones y transferencias de existencias; habilitar envíos, envíos directos y otros pedidos; y realizar inventarios y conteos cíclicos.</li>
                                        <li>La planificación de requisitos de producción y materiales crea y mantiene listas de materiales (BOM) multinivel, emite y libera órdenes de producción manualmente o mediante retroconsumo y mantiene globalmente los precios de las BOM.</li>
                                        <li><b>Informes eficientes:  </b>genere informes con datos oportunos y muéstrelos en varios formatos o paneles.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Inteligencia de negocio</a>
                            <div class="toggle-content">
                                <p>SAP Business One proporciona potentes herramientas de análisis y generación de informes. Incluye una versión gratuita y totalmente integrada de SAP Crystal Reports® para SAP Business One, para que pueda recopilar datos de múltiples fuentes y generar informes oportunos y precisos basados en datos de toda la empresa. Integrado con Microsoft Office, SAP Crystal Reports le permite elegir entre una variedad de formatos de informes y controlar el acceso a la información mostrada.</p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Creación y personalización de informes: </b> acceda a datos de múltiples fuentes, cree nuevos informes y personalice los existentes en una variedad de diseños con una mínima interacción de TI.</li>
                                        <li><b>Análisis interactivo: </b>utilícelo con funciones estándar de MS Excel para crear informes y ver su negocio desde nuevos ángulos.</li>
                                        <li><b>Herramientas intuitivas:</b>arrastrar y relacionar, desgloses, asistencia de búsqueda y alertas basadas en flujo de trabajo.</li>
                                        <li><b>Análisis de KPI’s: </b>Observe indicadores clave de rendimiento que le ayuden a evaluar y a tomar decisiones.</li>
                                        <li>Mejore sus informes con visualizaciones potentes integrando SAP Lumira para SAP Business One.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Analítica y reportes</a>
                            <div class="toggle-content">
                                <p>SAP Business One permite a sus empleados tomar decisiones inteligentes y seguras de manera más rápida al capturar toda la información crítica de ventas, clientes, operaciones y finanzas, haciéndola disponible instantáneamente en toda la empresa.</p>
                                <p>Las alertas basadas en flujos de trabajo activan respuestas automáticas cuando ocurren eventos comerciales importantes, lo que le permite concentrarse en los eventos más críticos. Tiene una visibilidad clara del rendimiento de su negocio y una mayor confianza en la información utilizada para tomar decisiones.</p>
                            </div>
                        </section>
                        <section class="toggle">
                            <a class="toggle-title">Personalización de acuerdo con tu industria</a>
                            <div class="toggle-content">
                                <p>Aproveche la amplia funcionalidad, las mejores prácticas y los procesos de la industria integrados en SAP Business One. A medida que su negocio crece, puede ampliar SAP Business One para satisfacer sus desafíos comerciales e industriales específicos utilizando el estudio SAP Business One, el kit de desarrollo de software o cualquiera de las más de 500 soluciones complementarias creadas por diferentes socios.</p>
                                <p></p>
                                <div class="row">
                                    <ol class="list list-ordened list-ordened-style-3">
                                        <li><b>Productos de consumo: </b>Anticípese, planifique y gestione la demanda, y entregue los bienes y productos de consumo que los compradores anhelan. </li>
                                        <li><b>Maquinaria y Componentes Industriales: </b>Reduzca los costos de la cadena de suministro, acelere los tiempos cíclicos, minimice los desechos y el retrabajo y, en última instancia, acelere el tiempo para obtener ganancias.</li>
                                        <li><b>Servicios profesionales: </b>Establezca un proceso repetible para la prestación de servicios y mejore la planificación de recursos, la gestión de proyectos, la facturación y más.</li>
                                        <li><b>Minorista: </b>Aproveche la información sobre los clientes y los puntos de venta en tiempo real, atraiga a los compradores y optimice todo, desde la comercialización hasta su cadena de suministro.</li>
                                        <li><b>Distribución al por mayor:  </b>Mejore todo, desde la planificación de la demanda hasta la gestión del inventario y la cadena de suministro, y ejecute procesos flexibles y estrechamente integrados para lograr la excelencia operativa.</li>
                                    </ol>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>

            </div>

        </div>

    </div>

    

</div>

{% endblock %}