{% extends "base.html" %}
{% block title %}
<title>JM - Siigo</title>
<meta name="keywords" content="WebSite Template" />
<meta name="description" content="Porto - Multipurpose Website Template">
<meta name="author" content="okler.net">

{% endblock %}



{% block content %}
{% load static %}
<div role="main" class="main">

    <section class="page-header page-header-modern page-header-background page-header-background-md overlay overlay-color-dark overlay-show overlay-op-7" style="background-image: url(/static/paginaWebApp/img/page-header/siigoHeader.png);">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-9 font-weight-bold">Siigo Nube</h1>
                    <span class="sub-title">El software de los emprendedores</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-3 pb-2">

        <div class="row pt-2">

            <div class="col">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3mq958v-TjI?si=e-VAqDgPbF6-Aj9b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <br>
                <p class="lead">Siigo Nube es el software administrativo y contable más completo para micro negocios. </p>
                <section class="section bg-color-primary section-height-3 border-0 mt-4 mb-0">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-10 py-3 mx-md-auto">
                                <div class="row pt-2 clearfix">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-user-following icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Práctico</h4>
                                                <p class="mb-4 text-color-light opacity-6">Contratalo hoy e implementalo hoy</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 appear-animation" data-appear-animation="fadeInLeftShorter">
                                            <div class="feature-box-icon">
                                                <i class="icon-layers icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Confiabilidad</h4>
                                                <p class="mb-4 text-color-light opacity-6">1.2 millones de clientes confian en la marca.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="feature-box feature-box-style-2 reverse appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                            <div class="feature-box-icon">
                                                <i class="icon-calculator icons text-color-light"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="mb-2 text-5 text-color-light">Asequibles</h4>
                                                <p class="mb-4 text-color-light opacity-6">Excelente precio para iniciar con tu emprendimiento.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
                <br>

                <p>Funciona en ambiente web, por lo que permite administrar remotamente las empresas y se puede tener acceso a la información desde cualquier parte del mundo. Solo es necesario contar con usuario, contraseña y conexión a internet. La información almacenada dentro del sistema es segura al contar con copias de seguridad automáticas que se almacenan en los servidores Microsoft Azure.</p>
                <p>Los documentos que se elaboran manualmente en Excel, se crean directamente en Siigo Nube, agilizando los procesos administrativos. Se cuenta con accesos directos para dar de alta cotizaciones, facturas, compras, gastos, clientes, proveedores, productos, servicios, recepción de pagos y pago a proveedores.</p>
                <p>El sistema permite el manejo de almacenes y centro de costos en caso de ser necesarios. Cumple con todas las disposiciones fiscales vigentes en el país. Además, cuando haya nuevas disposiciones fiscales el sistema se actualizará de manera automática.</p>
                <p>Para tener una visual más detallada de la empresa, el sistema cuenta con reportes en cada módulo de clientes, proveedores, inventarios, facturas, compras o gastos.</p>

                
            </div>

        </div>

    </div>

    

</div>

{% endblock %}